* {
    padding: 0;
    margin: 0;
}
header{
    background-color: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header nav ul{
    display: flex;
    margin: auto;
    list-style: none;
    align-items: center;
}
header .container{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
header nav a{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
nav li{
    margin-left: 32px;
    transition: 0.4s;
}
header nav li:hover{
    transform: scale(1.2);
}
header nav li:first-of-type a{
    font-size: 13px;
}
header  nav li:last-of-type a{
    margin-right: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
}
/*main_banner*/
.main_banner{
    background-image: url("../images/Image.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
}
.main_banner .container{
    max-width: 580px;
    text-align: center;
    margin: inherit;
}
.main_banner .container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.main_banner .container h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.main_banner .container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
/*past_clients*/
.past_clients{
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: black;
}
.past_clients_wrap{
    max-width: 1200px;
    margin: auto;
}
.past_clients_wrap h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 15px;
}
.past_clients_wrap p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
}
.past_clients_banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 82px;
    padding-bottom: 69px;
    box-sizing: border-box;
}
/*get_in_touch*/
.get_in_touch{
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: black;
}
.get_in_touch_wrap{
    max-width: 600px;
    margin: auto;
}
.get_in_touch h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.get_in_touch h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
}
.get_in_touch_btn_wrap{
    text-align: center;
}
.get_in_touch_btn{
    border-radius: 14px;
    font-family: 'Poppins', sens-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    padding:5px 10px 5px 5px;
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    margin-right: 6px;
    }
.get_in_touch_btn:before{
    display: inline-block;
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: black;
    margin-right: 6px;
}
.mail
{
    
}
