* {
    padding: 0;
    margin: 0;
}
header{
    background-color: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.mobile_menu{
    display: none;
}
/*header nav ul{
    display: flex;
    margin: auto;
    list-style: none;
    align-items: center;
}*/
header .container{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
header nav a{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
nav li{
    margin-left: 32px;
    transition: 0.4s;
}
header nav li:hover{
    transform: scale(1.2);
}
header nav li:first-of-type a{
    font-size: 13px;
}
#open{
    margin-right: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    cursor: pointer;
}
/*main_banner*/
.main_banner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
    position: relative;
}
.main_banner .container{
    max-width: 580px;
    text-align: center;
    margin: inherit;
}
.main_banner .container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.main_banner .container h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.main_banner .container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
/*past_clients*/
.past_clients{
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: black;
}
.past_clients_wrap{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.past_clients_wrap h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 15px;
}
.past_clients_wrap p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
}
.past_clients_banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 82px;
    padding-bottom: 69px;
    box-sizing: border-box;
}
.past_clients_banner a{
    max-width: 128px;
    display: inline-block;
}
.past_clients_banner .owl-stage{
    display: flex;
    align-items: center;
}
/*get_in_touch*/
.get_in_touch{
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: black;
}
.get_in_touch_wrap{
    max-width: 600px;
    margin: auto;
}
.get_in_touch h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.get_in_touch h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
}
.get_in_touch_btn_wrap{
    text-align: center;
}
.get_in_touch_btn{
    border-radius: 14px;
    font-family: 'Poppins', sens-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    padding:5px 10px 5px 5px;
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    margin-right: 6px;
    }
.get_in_touch_btn:before{
    display: inline-block;
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: black;
    margin-right: 6px;
}
.mail
{
    background-color: aquamarine;
}
/*what_we_do*/
.what_we_do {
    padding-top: 113px;
    padding-bottom: 100px;
    background-color: black;
}
 .wraper {
    max-width: 1168px;
     margin: auto;
}
.what_we_do h2{
font-family: 'Poppins',sens-serif;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 42px;
text-align: center;
color: #FFFFFF;
margin-bottom: 15px;
}
.what_we_do h3{
font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}
.d_flex_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.what_we_do .d_flex_container article {
    max-width: 576px;
    position: relative;
    max-height: 608px;
    overflow: hidden;
    margin-bottom: 15px;
}
.what_we_do .d_flex_container img{
    display: block;
    width: 100%;
}
.what_we_do .d_flex_container .description {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 38px 45px 38px 30px;
    box-sizing: border-box;
}
.what_we_do .description h4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do .description  p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do .description  btn{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.4px;
    color: #000000;
}
/*sunset_at_mount*/
.sunset_at_mount{
    background-image: url("../images/Montain.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    align-items: center;
    position: relative;
}
.sunset_at_mount_container{
    padding-right: 60px;
    max-width: 298px;
}
.sunset_at_mount_container h4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sunset_at_mount_container p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
/*monstera_leafs*/
.monstera_leafs{
    background-image: url("../images/Monstera.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    align-items: center;
    position: relative;
}
.monstera_leafs_container{
    padding-right: 60px;
    max-width: 273px;
}
.monstera_leafs_container h4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.monstera_leafs_container p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
/*star_fall*/
.star_fall {
    background-image: url("../images/Star.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    align-items: center;
    position: relative;
}
.star_fall_container{
    padding-right: 60px;
    max-width: 254px;
}
.star_fall_container  h4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.star_fall_container  p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
/*footer*/
.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;
}
.footer_wrap{
    max-width: 1168px;
    margin: auto;
    box-sizing: border-box;
}
.footer_container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 36px;
}
.footer_container p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
    margin-top: 20px;
}
.footer_menu {
    display: flex;
    justify-content: start;
    box-sizing: border-box;
}
.footer_menu ul{
    list-style: none;
}
.footer_menu li:first-child{
     font-family: 'Poppins',sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 20px;
     letter-spacing: 2px;
     text-transform: uppercase;
     color: #C0C0C0;
    margin-bottom: 10px;
}
.footer_menu li{
    margin-bottom: 10px;
    margin-right: 70px;
}
.footer_menu a{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.subscribe_to_our_newsletter{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    padding-top: 36px;
    padding-bottom: 36px;
    box-sizing: border-box;
}
.subscribe_to_our_newsletter h4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.subscribe_to_our_newsletter p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}
.form{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 5px 10px 10px;
    max-width: 458px;
    max-height: 52px;
    box-sizing: border-box;
}

.form_subscribe{
    width: 350px;
    height: 40px;
    background-color: transparent;
    border: none;
}
.form_btn{
    background: #000000;
    border-radius: 40px;
    width: 63px;
    height: 30px;
    cursor: grab;
}
/*copyright social_icon*/
.copyright{
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
}
.copyright p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.social_icon{
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.social_icon img{
    width:100%;
    display: block;
}
.position_item{
    position: absolute;
    right: 40px;
    bottom: 40px;
    display: flex;
    list-style: none;
}
.position_item li{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}
.position_item li:before {
    content:"";
    display: inline-block;
    background-image: url("../images/Icon_1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    bottom: -5px;
}
.position_item li:nth-child(2):before{
    background-image: url("../images/Icon_3.svg");
}
.position_item li:nth-child(3):before{
    background-image: url("../images/Icon_2.svg");
    width: 32px;
}
.position_item li:nth-child(4):before{
    background-image: url("../images/Icon_4.svg");
    width: 10px;
}
.we_use{
    background-color: black;
    position: relative;
}
.we_use .container{
    max-width: 1200px;
    min-height: 540px;
    display: flex;
    align-items: center;
}
.we_use .information{
    max-width: 514px;
}
.we_use .information h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 6px;
}
.we_use .information h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.we_use .information p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.we_use .banner_we_use{
    background-image: url("../images/banner_we_use.jpg");
    background-size: cover;
    position: absolute;
    right: 0;
    top:0;
    width: 50%;
    height: 100%;
}
/*responsive*/
@media only screen and (max-width: 1200px){
    header{
        padding-left: 12px;
        padding-right: 12px;
    }
.d_flex_container{
    justify-content: center;
}
.we_use{
    padding-left: 20px;
}
.past_clients_banner{
    flex-direction: column;
    padding: 0;
    margin-top: 20px;
}
.footer{
    padding-left: 12px;
    padding-right: 12px;
}
}
@media only screen and (max-width: 1060px){
 .we_use   .banner_we_use{
     width: 45%;
}
}
@media only screen and (max-width: 980px){
    .we_use   .banner_we_use{
        width: 40%;
    }
}
@media only screen and (max-width: 860px){
    .we_use   .banner_we_use{
        width: 38%;
    }
}
@media only screen and (max-width: 890px){
    .we_use   .banner_we_use{
        width: 38%;
    }
}
@media only screen and (max-width: 852px){
    header nav a{
        font-size: 10px;
    }
    .we_use .information p{
       max-width: 450px;
    }
    .get_in_touch h2{
        font-size: 30px;
    }
    .footer{
        padding-top: 20px;
    }
     .footer_container{
        display: block;
        text-align: center;
    }
    .footer_container p{
        margin-bottom: 20px;
    }
    .footer_menu{
        justify-content: center;
    }
}
@media only screen and (max-width: 830px) {
    .we_use .banner_we_use {
       width: 0;
}
    nav{
        display: none;
    }
    .mobile_menu{
        display: flex;
        justify-content: flex-end;
        max-width: 50px;
        max-height: 50px;
    }
    .mobile_menu img{
        width: 100%;
    }
}
@media only screen and (max-width: 724px) {
    .subscribe_to_our_newsletter{
        display: block;
        text-align: center;
    }
    .subscribe_to_our_newsletter p{
        margin-bottom: 15px;
    }
    .form{
        margin: auto;
    }
    .past_clients_banner:last-of-type{
        justify-content: center;
    }
}
@media only screen and (max-width: 574px) {
    .main_banner .container{
        padding-left: 12px;
        padding-right: 12px;
    }
    .what_we_do{
        padding-left: 12px;
        padding-right: 12px;
    }
}
@media only screen and (max-width: 540px) {
    .copyright {
    display: block;
    text-align: center;
}
    .copyright p{
        margin-bottom: 20px;
    }
    .social_icon{
        margin: auto;
    }
    .we_use{
        padding-right: 12px;
    }
}
@media only screen and (max-width: 460px){
    .past_clients h2{
        font-size: 30px;
    }
    .get_in_touch h2{
        font-size: 25px;
    }
}
@media only screen and (max-width: 456px){
   .form{
       max-width: 358px;
   }
    .form_subscribe{
        width: 250px;
    }

}
    .past_clients p{
        font-size: 20px;
        padding-left: 12px;
        padding-right: 12px;
    }

@media only screen and (max-width: 426px) {
    .get_in_touch {
        padding-right: 12px;
        padding-left: 12px;
    }
    .sunset_at_mount {
        padding-left: 25px;
    }
    .footer_menu{
        padding-left: 12px;
    }
}
.past_clients_banner .owl-nav .owl-prev{
    position: absolute;
    left:-50px;
    top: 58px;
}
.past_clients_banner  .owl-nav .owl-prev:after{
    font-weight: 900;
    font-family: 'Font Awesome 6 Free';
    content: "\f053";
    color: #FFFFFF;
    display: inline-block;
}
.past_clients_banner .owl-nav .owl-next{
    position: absolute;
    right:-50px;
    top: 58px;
}
.past_clients_banner  .owl-nav .owl-next:after{
    font-weight: 900;
    font-family: 'Font Awesome 6 Free';
    content: "\f054";
    color: #FFFFFF;
    display: inline-block;
}
.model-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.3);
    transform: scale(0);
}
.model-container .model{
    height: 350px;
    max-width: 350px;
    margin: 0 10px;
    padding: 20px;
    background: #FFF;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.model-container .model .fa-heart{
    font-size: 100px;
    color: #f9ca24;
    padding-bottom: 50px;
    margin: 10px 0;
    text-shadow: 0 3px 5px rgba(0,0,0,.3),
                30px 30px 0 #ccc,
                -30px 30px 0 #333;
}
.model-container .model h3{
    color: #333;
    font-size: 25px;
}
.model-container .model p{
    color: #666;
    margin: 30px 0;
}
.model-container .model button{
    height: 35px;
    width: 120px;
    background: #333;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
}
.model-container .model button:hover{
    opacity: .8;
}
.model-container .model .fa-times{
    position: absolute;
    top: 15px; right: 15px;
    font-size: 25px;
    cursor: pointer;
    color: #333;
}