* {
    padding: 0;
    margin: 0;
}
header{
    background-color: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header nav ul{
    display: flex;
    margin: auto;
    list-style: none;
    align-items: center;
}
header .container{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
header nav a{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
nav li{
    margin-left: 32px;
    transition: 0.4s;
}
header nav li:hover{
    transform: scale(1.2);
}
header nav li:first-of-type a{
    font-size: 13px;
}
header  nav li:last-of-type a{
    margin-right: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
}
/*main_banner*/
.main_banner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
}
.main_banner .container{
    max-width: 580px;
    text-align: center;
    margin: inherit;
}
.main_banner .container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.main_banner .container h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.main_banner .container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
/*past_clients*/
.past_clients{
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: black;
}
.past_clients_wrap{
    max-width: 1200px;
    margin: auto;
}
.past_clients_wrap h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 15px;
}
.past_clients_wrap p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
}
.past_clients_banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 82px;
    padding-bottom: 69px;
    box-sizing: border-box;
}
/*get_in_touch*/
.get_in_touch{
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: black;
}
.get_in_touch_wrap{
    max-width: 600px;
    margin: auto;
}
.get_in_touch h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.get_in_touch h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
}
.get_in_touch_btn_wrap{
    text-align: center;
}
.get_in_touch_btn{
    border-radius: 14px;
    font-family: 'Poppins', sens-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    padding:5px 10px 5px 5px;
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    margin-right: 6px;
    }
.get_in_touch_btn:before{
    display: inline-block;
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: black;
    margin-right: 6px;
}
.mail
{
    background-color: aquamarine;
}
/*what_we_do*/
.what_we_do {
    padding-top: 113px;
    padding-bottom: 100px;
    background-color: black;
}
 .wraper {
    max-width: 1168px;
     margin: auto;
}
.what_we_do h2{
font-family: 'Poppins',sens-serif;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 42px;
text-align: center;
color: #FFFFFF;
margin-bottom: 15px;
}
.what_we_do h3{
font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}
.d_flex_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.what_we_do .d_flex_container article {
    max-width: 576px;
    position: relative;
    max-height: 608px;
    overflow: hidden;
    margin-bottom: 15px;
}
.what_we_do .d_flex_container img{
    display: block;
    width: 100%;
}
.what_we_do .d_flex_container .description {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 38px 45px 38px 30px;
    box-sizing: border-box;
}
.what_we_do .description h4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do .description  p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do .description  btn{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.4px;
    color: #000000;
}
/*sunset_at_mount*/
.sunset_at_mount{
    background-image: url("../images/Montain.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    align-items: center;
}
.sunset_at_mount_container{
    padding-right: 60px;
    max-width: 298px;
}
.sunset_at_mount_container h4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sunset_at_mount_container p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
/*monstera_leafs*/
.monstera_leafs{
    background-image: url("../images/Monstera.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    align-items: center;
}
.monstera_leafs_container{
    padding-right: 60px;
    max-width: 273px;
}
.monstera_leafs_container h4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.monstera_leafs_container p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
/*star_fall*/
.star_fall {
    background-image: url("../images/Star.jpg");
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    align-items: center;
}
.star_fall_container{
    padding-right: 60px;
    max-width: 254px;
}
.star_fall_container  h4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.star_fall_container  p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
/*footer*/
footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;
}
.footer_wrap{
    max-width: 1168px;
    margin: auto;
    box-sizing: border-box;
}
.footer_container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 36px;
}
.footer_container p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
    margin-top: 20px;
}
.footer_menu {
    display: flex;
    justify-content: start;
    box-sizing: border-box;
}
.footer_menu h4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 10px;
}
.footer_menu ul{
    list-style: none;
}
.footer_menu li{
    margin-bottom: 10px;
    margin-right: 70px;
}
.footer_menu a{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.subscribe_to_our_newsletter{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    padding-top: 36px;
    padding-bottom: 36px;
    box-sizing: border-box;
}
.subscribe_to_our_newsletter h4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.subscribe_to_our_newsletter p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}
.form {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 5px 10px 10px;
    max-width: 458px;
    max-height: 52px;
    box-sizing: border-box;
}

.form_subscribe {
    width: 350px;
    height: 40px;
    background-color: transparent;
    border: none;
}
.form_btn{
    background: #000000;
    border-radius: 40px;
    width: 63px;
    height: 30px;
    cursor: grab;
}
/*copyright social_icon*/
.copyright {
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
}
.copyright p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.social_icon {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.social_icon img{
    width:100%;
    display: block;
}
